@font-face {
  font-family: ExposureTrialVar;
  src: url(ExposureTrialVar.woff);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  cursor: none;
}

body {
  font-family: ExposureTrialVar;
  color: rgb(46, 168, 243);
  /* margin: 2%; */
  padding: 1%;
  background-color: rgb(0, 20, 94);
}

.main-pg {
}

:visited {
  color: white;
}
/* .spotlight {
  position: fixed;
  inset: 0;
  background: radial-gradient(
    circle 100px at 50% 50%,
    transparent 10%,
    rgba(255, 255, 255, 0.98)
  );
  pointer-events: none;
} */

.link-container {
  text-align: center;
  margin-top: 20px;
}

.fun-link {
  color: rgb(46, 168, 243);
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  text-shadow: rgb(189, 224, 255) 1px 0 10px;
}

.fun-link:hover {
  color: rgb(179, 173, 240);
  text-shadow: rgb(255, 255, 255) 1px 0 15px;
}

#sentence-placeholder {
  position: absolute;
  margin-top: -50%;
  font-size: 32px;
  text-align: center;

  padding: 10px;
  border-radius: 10px;
}

.hidden {
  opacity: 0;
  transition: opacity 0.2s ease;
}

#sentence-placeholder span {
  margin: 0 5px;
  transition: color 0.3s ease, background-color 0.3s ease,
    backdrop-filter 0.3s ease;
}

#sentence-placeholder span:hover {
  color: rgb(179, 173, 240);
  backdrop-filter: blur(30px);
}
.spotlight {
  position: fixed;
  inset: 0;
  background: radial-gradient(
    circle 100px at 50% 50%,
    /* Increased radius */ transparent 10%,
    rgba(255, 255, 255, 0.98)
  );
  pointer-events: none;
}

.ta-da {
  border-style: double;
  border-width: 20px;
  border-radius: 29px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawingboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  max-height: 90vh;
  max-width: 70vw;
  margin: 0;
  padding: 0;
  border: 15px solid white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  transition: opacity 0.5s;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  text-align: center;
  font-size: 16px;
  background: white;
  padding: 5px;
  border-top: 5px solid white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

iframe {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.redirect {
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 24px;
}
.hidden {
  color: transparent;
}

#sentence-placeholder {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 50px;
}
@media (max-width: 768px) {
  body {
    padding: 5%;
  }

  .drawingboard {
    height: 500px;
  }

  .star {
    font-size: smaller;
  }
}
